<div class="row">
    <div class="col-md-12">
        <div class="newsletter">
            <br>
            <p>Vui lòng nhập <strong>địa chỉ mail</strong> của bạn.<br>Chúng tôi sẽ gửi cho bạn một liên kết để bạn tạo <strong>mật khẩu mới</strong>.</p>
            <form>
                <input class="input" type="email" placeholder="Nhập địa chỉ mail của bạn">
                <button class="newsletter-btn"><i class="fa fa-envelope"></i> Gửi liên kết</button>
            </form>

        </div>
    </div>
</div>