<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="billing-details">
                <div class="section-title">
                    <h3 class="title">Tạo tài khoản mới</h3>
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="first-name" placeholder="Nhập tên của bạn">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="last-name" placeholder="Nhập Họ và tên lót">
                </div>
                <div class="form-group">
                    <input class="input" type="email" name="email" placeholder="Thư điện tử">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="address" placeholder="Địa chỉ">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="city" placeholder="Thành phố">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="country" placeholder="Quốc gia">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="zip-code" placeholder="Mã Zip">
                </div>
                <div class="form-group">
                    <input class="input" type="tel" name="tel" placeholder="Số điện thoại">
                </div>
                <div class="form-group">
                        <div class="input-checkbox">
                            <input type="checkbox" id="terms">
                            <label for="terms">
                                <span></span>
                                Tôi đã đọc và đồng ý <a href="#">các điều khoản và chính sách</a>
                            </label>
                        </div>
                </div>
                <div class="form-group">
                    <a href="#" class="primary-btn order-submit">Tiếp Tục</a>
                </div>
            </div>
        </div>
    </div>
</div>