<div class="site-section">
    <div class="container">

        <td class="product-name">
             <h1 class="h5 text-black">Đơn hàng của tôi</h2>
        </td>

        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="product-thumbnail">Mã đơn hàng</th>
                            <th class="product-name">Ngày mua</th>
                            <th class="product-name">Sản phẩm</th>
                            <th class="product-total">Tổng</th>
                            <th class="product-name">Trạng thái đơn hàng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="product-name">
                                 <h2 class="h5 text-black">17101998</h2>
                             </td>
                             <td class="product-name">
                                  <h2 class="h5 text-black">17/10/1998</h2>
                             </td>
                            <td class="product-name">
                                <h2 class="h5 text-black">Super laptop</h2>
                            </td>

                            <td>$49.00</td>
                            <td class="product-name">
                                 <h2 class="h5 text-black">Giao hàng thành công</h2>
                             </td>
                        </tr>

                        <tr>
                            <td class="product-name">
                                 <h2 class="h5 text-black">17101998</h2>
                            </td>
                            <td class="product-name">
                                 <h2 class="h5 text-black">17/10/1998</h2>
                            </td>
                            <td class="product-name">
                                 <h2 class="h5 text-black">Super laptop</h2>
                            </td>

                            <td>$49.00</td>
                            <td class="product-name">
                                 <h2 class="h5 text-black">Giao hàng thành công</h2>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>


    </div>
</div>

