<html>

<head>
    <title>1612778</title>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <header>
        <img src="img/logo.png" alt="no logo">
        <h3>Target</h3>
        <p class="slogan">Premium landing page template</p>
        <p class="phone-number"><b>Call Now! 1-800-123-456</b></p>
    </header>
    <div class="clearfix"></div>
    <hr>
    <section class="section-introduce">
        <div class="col span_1_of_2">
            <div class="content-intro">
                <h1>The perfect way to convert your traffic into sales</h1>
                <p class="detail-content">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ed diam
                    nonumy nidfsdf asdfjsadfjlas sdfjasdfjlks asdfjlasdjf.
                    <br>
                    <br>
                    Epsum factorial non diposit jsfjasdf asdfjsadfjlk asdfjlskdfj asdf
                    jfdlasjdf sdfjlaksdjf asdjfkjasdf asjdfiasjdfoi asdfjij.
                </p>
                <div class="buy">
                    <a href="#" class="btn">Purchase now!</a>
                    <p class="or"><b>or</b></p>
                    <a href="#" class="btn">Take a tour</a>
                </div>
            </div>
        </div>
        <div class="col span_1_of_2">
            <div class="picture-intro">
                <img src="img/1.jpg" alt="no pic">
            </div>
        </div>
    </section>
    <hr>
    <section class="section-advantages">
        <div class="col span_1_of_3">
            <div class="box-advantage">
                <div class="small-icon">
                    <i class="fas fa-desktop"></i>
                </div>
                <div class="content-box">
                    <h3>Quik and easy</h3>
                    <p class="content-advantage">
                        Lorem ipsum dolor sum amet, adfjoasdf sdfjiodf asdfosajdf sdfoasjfdj asjdfiasjdfoi
                        dfojasdfo asjdfojsdf joasdfj nxczxnvcfjoiwe sdfjsdfj sdfjcosdj.
                    </p>
                </div>
            </div>
        </div>
        <div class="col span_1_of_3">
            <div class="box-advantage">
                <i class="fas fa-glass-whiskey small-icon"></i>
                <div class="content-box">
                    <h3>Less risky</h3>
                    <p class="content-advantage">
                        Duis autem vel eum adfjoasdf sdfjiodf asdfosajdf sdfoasjfdj asjdfiasjdfoi
                        dfojasdfo asjdfojsdf joasdfj nxczxnvcfjoiwe sdfjsdfj sdfjcosdj.
                    </p>
                </div>
            </div>
        </div>
        <div class="col span_1_of_3">
            <div class="box-advantage">
                <i class="far fa-clock small-icon"></i>
                <div class="content-box">
                    <h3>Optimized</h3>
                    <p class="content-advantage">
                        Epsum factorial non deposit adfjoasdf sdfjiodf asdfosajdf sdfoasjfdj asjdfiasjdfoi
                        dfojasdfo asjdfojsdf joasdfj nxczxnvcfjoiwe sdfjsdfj sdfjcosdj.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <hr>
    <section class="section-features">
        <h3>Check out the features</h3>
        <div>
            <div class="col span_6_of_10">
                <div class="content-feature">
                    <p>
                        Lorem ipsum dolor sum amet, adfjoasdf sdfjiodf asdfosajdf sdfoasjfdj asjdfiasjdfoi
                        dfojasdfo asjdfojsdf joasdfj nxczxnvcfjoiwe sdfjsdfj sdfjcosdj.
                        <br>
                        Duis autem vel eum adfjoasdf sdfjiodf asdfosajdf sdfoasjfdj asjdfiasjdfoi
                        dfojasdfo asjdfojsdf joasdfj nxczxnvcfjoiwe sdfjsdfj sdfjcosdj.
                        Epsum factorial non deposit adfjoasdf sdfjiodf asdfosajdf sdfoasjfdj asjdfiasjdfoi
                        dfojasdfo asjdfojsdf joasdfj nxczxnvcfjoiwe sdfjsdfj sdfjcosdj.
                    </p>
                </div>
            </div>
            <div class="col span_4_of_10">
                <div class="title-feature">
                    <ul>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            <p>Lorem ipsum dolor sit amet</p>
                        </li>
                        <br>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            <p>Consectetuer adipiscing elit sed diam</p>
                        </li>
                        <br>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            <p>Nibh auismod tincidunt</p>
                        </li>
                        <br>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            <p>Laoreet dolore magna aliquam erat</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </section>
    <div class="clearfix"></div>
    <hr>
    <section class="section-screenshots">
        <h3>The screenshots</h3>
        <div>
            <div class="col span_1_of_4">
                <div class="img-screenshot">
                    <img src="img/1.jpg" alt="no picture">
                </div>
            </div>
            <div class="col span_1_of_4">
                <div class="img-screenshot">
                    <img src="img/2.jpg" alt="no picture">
                </div>
            </div>
            <div class="col span_1_of_4">
                <div class="img-screenshot">
                    <img src="img/3.jpg" alt="no picture">
                </div>
            </div>
            <div class="col span_1_of_4">
                <div class="img-screenshot">
                    <img src="img/4.png" alt="no picture">
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="section-quotes">
        <h3>See what our customers are saying...</h3>
        <div class="quote">
            <p>"Li Europe lingues es members del sam famile. Lor separat existentie es un myth. Por scientie, msport etc, li tot Europa usa li sam vocalularium."</p>
        </div>
        <div class="buy">
            <a href="#" class="btn">Purchase now!</a>
            <p class="or">or</p>
            <a href="#" class="btn">Take a tour</a>
        </div>
    </section>
    <div class="clearfix"></div>
    <hr>
    <section class="section-contacts">
        <div>
            <div class="col span_4_of_12">
                <div class="content-contact">
                    <h3>Payment method</h3>
                    <p>Lorem ipsum dolor sum amet, adfjoasdf sdfjiodf asdfosajdf sdfoasjfdj asjdfiasjdfoi
                        dfojasdfo asjdfojsdf joasdfj nxczxnvcfjoiwe sdfjsdfj sdfjcosdj.
                    </p>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-paypal"></i>
                </div>
            </div>
        </div>
        <div class="col span_3_of_12">
            <div class="content-contact">
                <h3>Get in touch</h3>
                <p>
                    123 Main Street #3 Sanfransico, CA, 94101
                    <br>
                    Phone: (866) 123-4567 ext#1
                    <br>
                    FAX: (866) 123-0000
                    <br>
                    Email: webdesign@shegy.pl
                </p>
            </div>
        </div>
        <div class="col span_3_of_12">
            <div class="content-contact">
                <h3>Design details</h3>
                <p>
                    Lorem ipsum dolor sit amet, jksjdfs sjdfof sjodfsjd sajdfojsdf josdfjo asdfjosdf jjsdfo.
                </p>
            </div>
        </div>
        <div class="col span_2_of_12">
            <div class="content-contact">
                <img src="img/logo.png" alt="no logo">
                <h3>Target</h3>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <hr>
    <footer>
        <div class="Copyright">
            <p class="content-copyright">Copyright &copy; 2011 Target. All rights reserved. Design by &nbsp;</p>
            <p class="name">Shegy</p>
        </div>
        <div class="icon-contact">
            <i class="fab fa-atlassian"></i>
            <i class="fal fa-basketball-ball"></i>
            <i class="fab fa-tumblr"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-youtube"></i>
            <i class="fas fa-wifi"></i>
        </div>
    </footer>
</body>
</html>