<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="billing-details">
                <div class="section-title">
                    <h3 class="title">CẬP NHẬT TÀI KHOẢN</h3>
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="first-name" placeholder="Nhập tên của bạn" value="An">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="last-name" placeholder="Nhập Họ và tên lót" value="Nguyễn Hữu">
                </div>
                <div class="form-group">
                    <input class="input" type="email" name="email" placeholder="Thư điện tử" value="huuannguyen@gmail.com">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="address" placeholder="Địa chỉ" value="93 Đình Phung Q1">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="city" placeholder="Thành phố" value="Thành phố Hồ Chí Minh">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="country" placeholder="Quốc gia" value="Việt Nam">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="zip-code" placeholder="Mã Zip" value="17000">
                </div>
                <div class="form-group">
                    <input class="input" type="tel" name="tel" placeholder="Số điện thoại" value="0904705020">
                </div>
                <div class="form-group">
                    <a href="#" class="primary-btn order-submit">Cập nhật</a>
                </div>
            </div>
        </div>
    </div>
</div>